
.tiptap-wrap {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.menu-bar {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top:0;
  gap: 8px;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  background: #f8f8f8;
}

.menu-bar button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background: white;
  cursor: pointer;
}

.menu-bar button.is-active {
  background: black;
  color: white;
}

.ProseMirror {
  min-height: 30rem;
  padding: 2rem;
  outline: none;
}

.ProseMirror h1 {
  font-size: 3.2rem;
}

.ProseMirror h2 {
  font-size: 2.4rem;
}

.ProseMirror ul {
  list-style: disc;
  padding-left: 20px;
}

.ProseMirror ol {
  list-style: decimal;
  padding-left: 2rem;
}

.ProseMirror blockquote {
  border-left: 4px solid #999;
  padding-left: 1.6rem;
  color: #666;
}
.ProseMirror strong {
  font-weight: bold;
}

.ProseMirror em {
  font-style: italic;
}

.ProseMirror u {
  text-decoration: underline;
}

.ProseMirror p{
  line-height: 1.2em;
}